#navbar-container{
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 0.5rem 0;

    .navbar-brand{
      font-size: 1.5rem;
      font-weight: 500;
    }

    .navbar-nav{
      .nav-item{
        .nav-link{
          color: #495057;
          font-size: 1rem;
          font-weight: 500;

          &:hover{
            color: #343a40;
          }
        }
      }
    }
}